@import url("./assets/general-sans/css/general-sans.css");

@import "tailwindcss";

@theme {
  --shadow-project-card: 0 0 1rem;
}

@utility text-md {
  font-size: 1rem;
  line-height: 1.25;
}

@utility drag-none {
  -webkit-user-drag: none;
}

* {
  box-sizing: border-box;
  font-family: "GeneralSans-Variable", sans-serif;
}

:root {
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;

  color-scheme: light dark;

  /* Dark theme defaults */
  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

::selection {
  background-color: hsl(30, 100%, 20%);
  color: white;
}

button:hover {
  cursor: pointer;
}

em {
  font-family: 'Times New Roman', Times, serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (width >= 48rem /* 768px */) {
  *, button:hover {
    cursor: none;
  }
}