@import url("./assets/fonts/general-sans/css/general-sans.css");

@import "tailwindcss";

* {
  font-family: "GeneralSans-Variable", sans-serif;
}

:root {
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;

  color-scheme: light dark;

  /* Dark theme defaults */
  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

::selection {
  background: hsl(30, 100%, 20%);
}

em {
  font-family: 'Times New Roman', Times, serif;
}

@media (width >= 48rem /* 768px */) {
  * {
    cursor: none;
  }
}